<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>DevsCrowd</title>
</head>
<body>
    <!-- HERO SECTION -->
    <main id="hero" class="p-16 min-h-screen md:p-28">
        <header class="font-noto font-light">
            <!-- navbar -->
            <nav class="navbar p-0" data-aos="fade-up">
                <div class="navbar-start gap-3">
                  <div class="dropdown">
                    <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M4 6h16M4 12h8m-8 6h16" />
                      </svg>
                    </div>
                    <ul
                      tabindex="0"
                      class="menu dropdown-content bg-black bg-opacity-40 rounded-lg my-5 p-2">
                      <li><a href="#features">Features</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="login" class="md:hidden">Log In</a></li>
                      <li><a href="signup" class="md:hidden">Sign Up</a></li>
                    </ul>
                  </div>
                  <a href="#hero"><img src="img/dc-logo-white.png" class="w-36" alt="DevsCrowd Logo"></a>
                </div>
                <div class="navbar-center hidden lg:flex">
                  <ul class="menu menu-horizontal px-1 text-white bg-white bg-opacity-10 rounded-full p-0">
                    <li><a href="#features" class="p-5 rounded-full">Features</a></li>
                    <li><a href="#" class="p-5 rounded-full">About</a></li>
                  </ul>
                </div>
                <div class="navbar-end gap-10">
                    <ul class="hidden md:menu md:menu-horizontal items-center px-1 text-white gap-4">
                        <li><a href="login" class="">Log In</a></li>
                        <li><a href="signup" class="btn rounded-full text-white bg-transparent border border-white font-light w-28 hover:bg-white hover:text-black">Sign Up</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <section id="content" class="flex flex-col justify-center pt-48 gap-6 lg:pt-32">
                <h1 class="text-white text-5xl font-kanit tracking-wider font-normal md:text-6xl xl:w-4/5" data-aos="fade-right">Your Path to Tech Success Starts Here</h1>
                <p class="text-white pt-4 font-noto font-thin md:text-xl lg:w-4/5 xl:w-1/2" data-aos="fade-right">
                    Join a vibrant community of tech enthusiasts.
                    Connect with like-minded professionals, and
                    share your journey to success.
                </p>
                <a href="signup" class="btn text-black uppercase font-hanken font-light bg-white w-3/4 mt-12 border rounded-full hover:border-white hover:text-white hover:bg-transparent md:w-1/2 xl:w-96">Join this community</a>
        </section>
    </main>

    <!-- FEATURES SECTION -->
    <section id="features" class="bg-bgWhite p-16 md:28">
        <h2 data-aos="fade-right" class="text-lg text-gray uppercase font-hanken font-light">Key Features</h2>
        <h3 data-aos="fade-right" class="text-3xl text-black font-kanit font-light tracking-wide pt-4 pb-12">What This Platform Offers</h3>
        <div class="features-ctn flex flex-col gap-16">
            <!-- Feature #1 -->
            <figure data-aos="fade-up" data-aos-duration="1000" class="flex flex-col gap-4 md:flex-row">
                <!-- Mockup -->
                <div class="mockup-browser bg-white basis-1/2">
                    <div class="mockup-browser-toolbar"></div>
                    <div class="flex justify-center">
                        <img src="img/placeholder.png" alt="">
                    </div>
                </div>
                <!-- Description -->
                <figcaption class="bg-lightGray bg-opacity-10 p-10 flex flex-col justify-center rounded-xl basis-1/2 md:text-right">
                    <h4 class="text-lg text-gray font-hanken font-light">Share and Collaborate</h4>
                    <p class="text-gray font-hanken font-light">With like-minded individuals and grow your network.</p>
                </figcaption>
            </figure>
            <!-- Feature #2 -->
            <figure data-aos="fade-up" data-aos-duration="1000" class="flex flex-col gap-4 md:flex-col-reverse">
                <!-- Mockup -->
                <div class="mockup-browser bg-white basis-1/2">
                    <div class="mockup-browser-toolbar"></div>
                    <div class="flex justify-center">
                        <img src="img/placeholder.png" alt="">
                    </div>
                </div>
                <!-- Description -->
                <figcaption class="bg-lightGray bg-opacity-30 p-10 flex flex-col justify-center rounded-xl basis-1/2">
                    <h4 class="text-lg text-gray font-hanken font-light">Stay Updated!</h4>
                    <p class="text-gray font-hanken font-light">With the latest news in the tech industry.</p>
                </figcaption>
            </figure>
            <!-- Feature #3 -->
            <figure data-aos="fade-up" data-aos-duration="1000" class="flex flex-col gap-4 md:flex-row">
                <!-- Mockup -->
                <div class="mockup-browser bg-white basis-1/2">
                    <div class="mockup-browser-toolbar"></div>
                    <div class="flex justify-center">
                        <img src="img/placeholder.png" alt="">
                    </div>
                </div>
                <!-- Description -->
                <figcaption class="bg-lightGray bg-opacity-70 p-10 flex flex-col justify-center rounded-xl basis-1/2 md:text-right">
                    <h4 class="text-lg text-gray font-hanken font-light">Get Tips and Insights</h4>
                    <p class="text-gray font-hanken font-light">On how to choose a career path and get a job.</p>
                </figcaption>
            </figure>
        </div>
    </section>

    <!-- CALL TO ACTION -->
    <section id="cta" class="p-28 flex flex-col items-center justify-center">
        <div data-aos-duration="1000" data-aos="fade-up" class="space-y-14">
            <img src="img/dc-icon.png" class="w-20" alt="DevsCrowd logo icon">
            <h2 class="text-3xl text-white font-kanit font-light md:text-5xl">Take the step you need to make a difference in your journey.</h2>
            <a href="signup" class="btn text-black uppercase font-hanken font-light bg-white w-3/4 border rounded-full hover:border-white hover:text-white hover:bg-transparent md:w-1/2 xl:w-96">Join this community</a>
        </div>
    </section>

    <!-- FOOTER -->
    <footer class="bg-white p-16 space-y-6">
        <div class="gap-6 flex flex-col items-start md:justify-between md:flex-row">
            <img src="img/dc-logo-black.png" class="h-6" alt="DevsCrowd logo">
            <div class="flex flex-row items-center gap-1">
                <a href="#"><img src="img/github.png" class="w-6 transition-all duration-300 ease-in-out hover:w-7" alt="Github profile link"></a>
                <a href="#"><img src="img/x.png" class="w-6 transition-all duration-300 ease-in-out hover:w-7" alt="X (formerly Twitter) profile link"></a>
                <a href="#"><img src="img/linkedin.png" class="w-6 transition-all duration-300 ease-in-out hover:w-7" alt="Linkedin profile link"></a>
            </div>
        </div>
        <div class="flex flex-col-reverse gap-6 items-start md:justify-between md:flex-row">
            <span class="text-sm text-black font-hanken font-light">&copy; 2025 Jesimiel Marte. All rights reserved</span>
            <a class="text-sm underline text-black font-hanken font-light transition-all transition-duration-300 hover:text-gray" href="#">See more of my works here</a>
        </div>
    </footer>

    <!-- AOS LIBRARY -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>