<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login Page</title>
</head>
<body>
    <div class="bg-white p-4 min-h-screen w-full flex">
        <main id="login" class="w-full flex rounded-xl md:flex-col lg:flex-row-reverse">
            <!-- DECORATION IMAGE -->
            <div id="deco-login" class=" hidden basis-3/4 md:flex md:rounded-t-xl lg:rounded-r-xl lg:rounded-tl-none"></div>
            <!-- CONTENT -->
            <div class="w-full flex items-center">
                <section id="content" class="w-full max-w-xxl p-12 flex flex-col gap-6 lg:p-20">
                    <a href="/" class="self-end "><img src="img/dc-logo-white.png" class="pb-4 w-28" alt="DevsCrowd Logo"></a>
                    <h1 class="font-kanit font-light text-2xl text-white">Welcome back</h1>
                    <% if (locals.messages.errors) { %>
                        <div>
                            <% messages.errors.forEach( el => { %>
                                <div class="flex justify-between items-center border-l-4 border-gray bg-bgWhite p-3">
                                    <p class="text-gray font-hanken font-light"><%= el.msg %></p>
                                    <img src="/img/close.png" class="close-err w-4 cursor-pointer" alt="close button">
                                </div>
                            <% }) %>    
                        </div>
                    <% } %>
                    <% if (locals.messages.info) { %>
                        <div>
                            <% messages.info.forEach( el => { %>
                                <div class="error-message"><%= el.msg %></div>
                            <% }) %>    
                        </div>
                    <% } %>
                    <!-- Sign up form -->
                    <form action="/login" method="POST" class="flex flex-col gap-6 w-full">
                        <input
                          type="email"
                          placeholder="Email"
                          name="email"
                          class="input input-bordered input-md border-gray bg-transparent w-full font-hanken font-light transition-all transition-duration-300 focus:text-white focus:border-white"
                        />
                        <input
                          type="password"
                          placeholder="Password"
                          name="password"
                          class="input input-bordered input-md border-gray bg-transparent w-full font-hanken font-light transition-all transition-duration-300 focus:text-white focus:border-white"
                        />
                        <input 
                          type="submit"
                          value="Log In"
                          class="btn bg-gray uppercase text-white font-hanken font-light hover:bg-grayHover"
                        />
                    </form>
                    <!-- Sign up alternatives -->
                    <div class="divider">Or login with</div>
                    <section class="flex flex-col w-full gap-3 justify-center md:justify-start">
                        <a href="/google" class="btn bg-white rounded-lg p-2 hover:bg-lightGray"><img src="img/google.png" class="w-8" alt="Login with Google"></a>
                        <a href="#" class="btn bg-white rounded-lg p-2 hover:bg-lightGray"><img src="img/github.png" class="w-8" alt="Login with Github"></a>
                    </section>
                    <!-- Already enrrolled -->
                    <span class="text-center font-hanken font-light text-lightGray">Don't have an account yet? <a href="/signup" class="underline transition-all transition-duration-300 hover:text-white">Sign Up</a></span>
                </section>
            </div>
        </main>
    </div>
    <script src="/js/auth.js"></script>
</body>
</html>